.category h2 {
  /* font-family: Arbutus Slab, serif; */
  font-family: 'Noto Serif SC', sans-serif;
  font-weight: bold;
  line-height: 1.25;
  padding: 5px 0;
}

.category p {
  position: absolute;
  bottom: 0;
  padding: 5px 0;
}

.category {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 40px;
  margin: 50px auto;
}

.category .card {
  cursor: pointer;
  position: relative;
  height: 0;
  padding-bottom: 120%;
  --offset-multiplier: 4px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  --translate: 0;
  -webkit-transform: translate(var(--translate), var(--translate));
          transform: translate(var(--translate), var(--translate));
}
.category .card:hover {
  --offset-multiplier: 6px;
}
.category .card:hover {
  --translate: calc(-1px * (var(--cards) - 1));
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.category .child {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px -4px 8px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  -webkit-transition: inherit;
  transition: inherit;
  --translate: calc(var(--offset) * var(--offset-multiplier));
  -webkit-transform: translate(var(--translate), var(--translate));
          transform: translate(var(--translate), var(--translate));
  z-index: 5;
}
.category .child:nth-child(1) {
  --offset: 0;
  z-index: 4;
}
.category .child:nth-child(2) {
  --offset: 1;
  z-index: 3;
}
.category .child:nth-child(3) {
  --offset: 2;
  z-index: 2;
}
.category .child:nth-child(4) {
  --offset: 3;
  z-index: 1;
}
.category .child:nth-child(5) {
  --offset: 4;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .category{
    /* grid-template-columns: repeat(auto-fill, repeat(2, 1fr)); */
    grid-gap: 20px;
  }
  .category .child:not(:first-child) {
    display: none;
  }
}
@media screen and (max-width: 375px){
  .category{
    grid-template-columns: repeat(auto-fill, repeat(2, 1fr));
    grid-gap: 20px;
  }
  .category h2{
    font-size: 1.2em;
  }
  .category .child:not(:first-child) {
    display: none;
  }
}
