.mobile-menu{
  font-family: 'Poiret One','Noto Serif SC',sans-serif;
}
.mobile-js-menu {
  display: block;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: rgb(158,121,44);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 20;
  box-shadow: 0px 3px 8px rgb(158,121,44);
  cursor: pointer;
}
.mobile-menu__line {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 4px;
  background-color: rgb(255,250,248);
  border-radius: 13px;
  transition-duration: .4s;
}
.mobile-menu__line:nth-child(1) {
  top: 14px;
}
.mobile-menu__line:nth-child(2) {
  top: 23px;
}
.mobile-menu__line:nth-child(3) {
  bottom: 14px;
}
.mobile-js-menu.active {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
.mobile-js-menu.active .mobile-menu__line:nth-child(1) {
  transform: translate(-12px, 9px) rotate(-45deg);
}
.mobile-js-menu.active .mobile-menu__line:nth-child(2) {
  transition-duration: 0s;
  opacity: 0;
}
.mobile-js-menu.active .mobile-menu__line:nth-child(3) {
  transform: translate(-12px, -9px) rotate(45deg);
}

.mobile-js-nav {
  display: block;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: rgb(255,250,248);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 10;
  transition-duration: .4s;
}
.mobile-js-nav.open {
  background-color: rgba(158,121,44, 0.9);
  /* width: 320px; */
  /* height: 480px; */
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0px;
  bottom: 0px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav__list {
  display: none;
}
.mobile-nav__list.show {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.mobile-nav__item ul{
  list-style-type:none;
}
.mobile-nav__item:nth-child(1) {
  animation-delay: .2s;
}
.mobile-nav__item:nth-child(2) {
  animation-delay: .3s;
}
.mobile-nav__item:nth-child(3) {
  animation-delay: .4s;
}
.mobile-nav__item:nth-child(4) {
  animation-delay: .5s;
}
.mobile-nav__item:nth-child(5) {
  animation-delay: .6s;
}
.mobile-nav__item:nth-child(6) {
  animation-delay: .7s;
}
.mobile-nav__item:nth-child(7) {
  animation-delay: .8s;
}
.mobile-nav__item:nth-child(8) {
  animation-delay: .9s;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-nav__link {
  font-size: 24px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: rgb(255,250,248);
}
.mobile-nav__link:hover{
  color: rgb(255,228,225);
}
.mobile-nav__sublink{
  font-size: 22px;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
      display: none;
  }
}
