
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
    background-image: url(https://cdn.jsdelivr.net/gh/machgeek/AAAimg/404.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
 }

 .contant_box_404{
     text-align: center;
     font-size: 40px;
 }