
/*======================
    404 page
=======================*/

.four_zero_four_bg{
    background-image: url(https://cdn.jsdelivr.net/gh/machgeek/AAAimg/404.gif);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
 }


.sitename{
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Poiret One', sans-serif; */
    /* font-family: 'Oleo Script', serif; */
    color: #d3a13b;
    z-index: 2;
}