footer{
    /* min-width: 350px; */
    width: 100%;
    margin: 0 auto;
    flex: 0 0 auto;
    /* height: 65px; */
    /* background-color: rgba(240, 242, 245, 0.7); */
    background-color: rgba(233, 233, 233, 0.8);
    overflow: hidden;
}