@import url(https://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow:400,700);
/* body {
  background-color: #e6e6e6;
} */

/* HEADLINE STRUCTURE */
footer .headline {
  display: block;
  /* height: 100%; */
  /* width: 60%; */
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
}

footer .lines {
  display: inline-block;
  position: absolute;
  /* top: 20%; */
}
footer .lines svg {
  width: 130px;
  height: 30px;
}
@media screen and (max-width: 750px) {
  footer .lines svg {
    width: 70px;
    height: 15px;
  }
}

footer .text {
  display: inline-block;
  max-width: 90%;
  margin-top: -10px;
  padding: 0em 30px;
  text-align: center;
  font-family: 'Poiret One', sans-serif;
  /* font-weight: bold; */
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  /* line-height: 1.5em; */
  color: #BA8748;
  /* color: rgb(111, 111, 111); */
}
@media screen and (max-width: 750px) {
  footer .text {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

footer .icp{
  /* color: #1a1a1a; */
  color: rgb(186, 135, 72);
  font-size: 12px;
  letter-spacing: 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Poiret One','Noto Serif SC';
  /* font-weight: bold; */
  display:inline-block;
  text-decoration:none;
  /* line-height: 20px; */
}

footer .left {
  float: right;
  margin-left: -120px;
}

footer .right {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  float: left;
  margin-left: -10px;
}

/* ANIMATION */
footer #headline {
  -webkit-transform: translate(115px, 0px) scalex(1);
  -moz-transform: translate(115px, 0px) scalex(1);
  -ms-transform: translate(115px, 0px) scalex(1);
  -o-transform: translate(115px, 0px) scalex(1);
  transform: translate(115px, 0px) scalex(1);
  /* @include transform-origin(right); */
}

footer .pulse #headline {
  -webkit-animation: grow 2s infinite;
  -moz-animation: grow 2s infinite;
  animation: grow 2s infinite;
}

@keyframes grow {
  0% {
    -webkit-transform: translate(115px, 0px) scalex(1);
    -moz-transform: translate(115px, 0px) scalex(1);
    -ms-transform: translate(115px, 0px) scalex(1);
    -o-transform: translate(115px, 0px) scalex(1);
    transform: translate(115px, 0px) scalex(1);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
  }
  30% {
    -webkit-transform: translate(115px, 0px) scalex(2);
    -moz-transform: translate(8px, 0px) scalex(2);
    -o-transform: translate(0px, 0px) scalex(2);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
  }
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: translate(115px, 0px) scalex(1);
    -moz-transform: translate(115px, 0px) scalex(1);
    -ms-transform: translate(115px, 0px) scalex(1);
    -o-transform: translate(115px, 0px) scalex(1);
    transform: translate(115px, 0px) scalex(1);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
  }
  30% {
    -webkit-transform: translate(115px, 0px) scalex(2);
    -moz-transform: translate(0px, 0px) scalex(2);
    -o-transform: translate(0px, 0px) scalex(2);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
  }
}