/* body{
    background: url('https://cdn.jsdelivr.net/gh/machgeek/AAAimg/background/yuantu/bg.jpg')no-repeat center 60px fixed;
    background-size: cover;
    background-color: rgb(233, 233, 233);
} */

/* body{
    background-image: url(/source/img/background/med2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

body{
    /* background-image: url('https://cdn.jsdelivr.net/gh/machgeek/AAAimg/avatar/yuantu/med.png'); */
    background-image: url(https://cdn.jsdelivr.net/gh/machgeek/AAAimg/background/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 480px;
}