body{
    /* background-image: url('https://cdn.jsdelivr.net/gh/machgeek/AAAimg/avatar/yuantu/med.png'); */
    /* background-image: url(https://cdn.jsdelivr.net/gh/machgeek/AAAimg/background/bg2.jpg); */
    /* background-image: url('https://cdn.jsdelivr.net/gh/machgeek/AAAimg/background/bg16x9.jpg'); */
    background-image: url(/source/img/background/bg333.png);
    background-color: rgb(255,251,248);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 350px;
}
/* @media screen and (max-width: 1200px) {
    body {
        background-size: 600px;
    }
}
@media screen and (max-width: 768px) {
    body {
        background-size: 500px;
    }
} */
@media screen and (max-width: 1200px) {
    body {
        background-size: 300px;
    }
}
@media screen and (max-width: 768px) {
    body {
        background-size: 250px;
    }
}