.prettylink {
    position: relative;
    -webkit-transition: -webkit-clip-path 275ms ease;
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
  }
  .prettylink:hover span::before, .prettylink:focus span::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .prettylink span {
    position: relative;
    display: inline-block;
    /* color: #2c2fe8; */
    color: #b87626;
  }
  .prettylink span::before {
    position: absolute;
    content: attr(data-content);
    color: #b87626;
    text-decoration: underline;
    -webkit-text-decoration-color: #b87626;
            text-decoration-color: #b87626;
    -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    -webkit-transition: -webkit-clip-path 275ms ease;
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
  }
  
span.dotted::before {
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

span.dashed::before {
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

span.double::before {
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
}

span.wavy::before {
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

span.line-through::before {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}